---
layout: default
---
<div class="full-width banner">
    <img src="/img/lisfeStudioBannerL.png">
</div>
<div class="content">
    <div class="row">
        <div class="medium-10 large-8 medium-centered columns ">
            <div class="index-block product">
                <h2>最新產品</h2>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="medium-10 large-8 medium-centered columns">
            <div class="index-block">
                <div class="title">
                    <h2><a  href="/news/">最新消息</a></h2>
                </div>
                <div class="post-list">
                    {% for post in site.categories.news limit:2 %}
                    <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="post-item row">
                      <div class="post-img-wrap medium-3 columns">
                        <img class="post-img" src="{{post.img}}">
                      </div>
                      
                      <div class="post-content medium-9 columns">
                        <div class="title">{{ post.title }}</div>
                        <div class="bar"></div>
                        <div class="post-meta right">{{ post.date | date: "%b %-d, %Y" }}</div>
                        <div class="post-des">{{post.des}}</div>
                      </div>
                      
                    </div>
                    </a>
                    
                    {% endfor %}

                </div>
                    <div class="more">
                      <a href="/news">更多消息</a>
                    </div>                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-10 large-8 medium-centered columns">
            <div class="index-block">
                <div class="title">
                    <h2><a  href="/blog/">最新文章</a></h2>
                </div>
                <div class="post-list">
                    {% for post in site.categories.blog limit:2 %}
                    <div class="post-item">
                      <div class="title">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                      </div>
                      <div class="post-meta right">{{ post.date | date: "%b %-d, %Y" }}</div>
                    </div>

                    {% endfor %}

                </div>
                    <div class="more">
                      <a href="/blog">更多文章</a>
                    </div>                
            </div>
        </div>
    </div>
    
</div>

<!--div class="row">


    <div class="large-12 columns">
        <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a>
        </p>
    </div>


</div-->
