<!DOCTYPE html>
<html lang="zh-Hant-TW" ng-app="oortiApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>LISFESTUDIO</title>
    <meta name="description" content="LISFESTUDIO有著許多關於前端技術與資料呈現的筆記與分享， 也包含了一些實驗性的新想法
">
    <link rel="stylesheet" href="/css/main.css">
    <!-- add foundation by lisfe-->
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="canonical" href="http://www.lisfestudio.com/oorti_prototype.html">
    <link rel="alternate" type="application/atom+xml" title="LISFESTUDIO" href="http://www.lisfestudio.com /feed.xml " />
    <!-- add angularJS by lisfe>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script-->
    <script type="text/javascript" src="/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/js/angular.js"></script>
    <script type="text/javascript" src="/js/d3.min.js"></script>
    <!--  font awesome  -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body class="oorti green-theme" ng-controller="oortiCtrl">
	<div class="general-view" ng-controller="generalViewCtrl" ng-class="{'mini': displaySetting.generalMin, hided:displaySetting.generalHided}">

		<div class="general-view-header">
			<div class="header-buttom" ng-click="changeGeneralView()">
				<i class="fa fa-angle-right"></i>
			</div>
			<div class="product-name header-buttom" ng-click="showGeneralView()">
				OORTI
			</div>
			<div class="header-buttom show-left" ng-click="changeHide()">
				<i class="fa fa-angle-double-left"></i>
			</div>
		</div>
		
	    <div class="user-view" ng-class="{hided: displaySetting.userHided}">
	    	<div class="user-info c-wrap">
	    		<i class="fa fa-user c user-icon"></i>
	    	</div>
			<div class="event-cards-container">
			    <div ng-repeat="newsEvent in focusedEvents" ng-click="showEvent('user')" event-viewer>
			    </div>
			</div>
	    </div>

	    <div class="today-view" ng-class="{'mini': displaySetting.todayMin, 'hided':displaySetting.todayHided}">
	        <div class="trend" ng-hide="displaySetting.todayMin||displaySetting.todayHided" trend-viewer></div>
	        <div class="today-events">
	        	<div class="event-group-tabs">
	        		<div class="event-group-tab {[{eventGroup.cssClass}]}" ng-repeat="eventGroup in todayEventGroups" group-tab>
	        			<i class="fa fa-{[{eventGroup.icon}]} group-icon"></i>
	        		</div>
	        	</div>
	            <div class="events-region {[{eventGroup.cssClass}]}" ng-repeat="eventGroup in todayEventGroups" ng-class="{'ss': $parent.eventGroupTab.ss == eventGroup.groupID}">
	                <i class="fa fa-{[{eventGroup.icon}]} group-icon"></i>
	                <div class="events-container">
	                    <div ng-repeat="newsEvent in eventGroup.events" ng-click="showEvent('today')" event-viewer>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	</div>
	<div class="oorti-event" ng-controller="eventCtrl" ng-class="{show:displaySetting.show, full:displaySetting.full}">
		<div class="event-deep">
        <h1>亞洲投資銀行</h1>
        <!--div class="row">
            <div class="small-3 columns news-console ">
                <h2>高麗菜價格崩盤!!!<br>蘋果日報</h2>
                <div class="row">
                    <button class="columns small-6">值得一看</button>
                    <button class="columns small-6">事件中最推薦</button>
                </div>
                
                <div>觀點</div>
                
                <div>建議</div>
            </div>
            <div class="small-9 columns"-->
                <div class="row">
                    <div class="columns small-4 src-column">
                        <h2>蘋果日報</h2>
                        <div class="news" style="top:15rem">

                        </div>
                    </div>
                    <div class="columns small-4 src-column">
                        <h2>中國時報</h2>
                        <div class="news" style="top:25rem"></div>
                    </div>
                    <div class="columns small-4 src-column">
                        <h2>獨立媒體</h2>
                        <div class="news" style="top:3rem">
							<div class="news-tag">
							    推薦
							</div>
							<div>無投資目標 朱敬一批馬政府亞投行戰略「本末倒置」高麗菜價格崩盤!!!
							</div>
                        </div>
                        <div class="news" style="top:15rem"></div>
                        <div class="news" style="top:45rem"></div>
                    </div>
                </div>
            </div>
        <!--/div-->
        
    </div>
	</div>
    <script type="text/javascript">




    var fakeD3Data = [
{
    		name: '柯文哲',
    		values: [
    			{label: new Date(2015,3,0), value: 3},
    			{label: new Date(2015,3,1), value: 3},
    			{label: new Date(2015,3,2), value: 4},
    			{label: new Date(2015,3,3), value: 5},
    			{label: new Date(2015,3,4), value: 2},
    			{label: new Date(2015,3,5), value: 7},
    			{label: new Date(2015,3,6), value: 2},
    			{label: new Date(2015,3,7), value: 2},
    			{label: new Date(2015,3,8), value: 4},
    			{label: new Date(2015,3,9), value: 3},
    			{label: new Date(2015,3,10), value: 2}
    		] 
    	},{
    		name: '高麗菜價格大跌',
    		values: [
		    	{label: new Date(2015,3,0), value: 0},
    			{label: new Date(2015,3,1), value: 0},
    			{label: new Date(2015,3,2), value: 0},
    			{label: new Date(2015,3,3), value: 0},
    			{label: new Date(2015,3,4), value: 0},
    			{label: new Date(2015,3,5), value: 0},
    			{label: new Date(2015,3,6), value: 2},
    			{label: new Date(2015,3,7), value: 7},
    			{label: new Date(2015,3,8), value: 4},
    			{label: new Date(2015,3,9), value: 9},
    			{label: new Date(2015,3,10), value: 2}
    		] 
    	},{
    		name: '亞洲投資銀行',
    		values: [
		    	{label: new Date(2015,3,0), value: 2},
    			{label: new Date(2015,3,1), value: 4},
    			{label: new Date(2015,3,2), value: 6},
    			{label: new Date(2015,3,3), value: 1},
    			{label: new Date(2015,3,4), value: 0},
    			{label: new Date(2015,3,5), value: 0},
    			{label: new Date(2015,3,6), value: 0},
    			{label: new Date(2015,3,7), value: 0},
    			{label: new Date(2015,3,8), value: 0},
    			{label: new Date(2015,3,9), value: 0},
    			{label: new Date(2015,3,10), value: 0}
    		] 
    	},{
    		name: '亞洲投資銀e行',
    		values: [
		    	{label: new Date(2015,3,0), value: 0},
    			{label: new Date(2015,3,1), value: 0},
    			{label: new Date(2015,3,2), value: 0},
    			{label: new Date(2015,3,3), value: 1},
    			{label: new Date(2015,3,4), value: 4},
    			{label: new Date(2015,3,5), value: 3},
    			{label: new Date(2015,3,6), value: 4},
    			{label: new Date(2015,3,7), value: 1},
    			{label: new Date(2015,3,8), value: 0},
    			{label: new Date(2015,3,9), value: 0},
    			{label: new Date(2015,3,10), value: 0}
    		] 
    	}
    ];
    var oortiApp = angular.module('oortiApp', []);
    oortiApp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    oortiApp.factory("news",function(){
    	return {
    		newsData: { "134534":{}, "134451":{}, "331341":{}},
    		getNews: function(s){
    			return newsData[s];
    		}
    	};
    });
    oortiApp.factory("events",function(news){
    	return {
    		eventData: { 
    			"1":{'title': '台灣水庫缺水'}, 
    			"2":{'title': '歐盟控告google壟斷'}, 
    			"3":{'title': '台北看守所囚犯自殺'},
    			"4":{'title': '亞洲投資銀行'},
    			"5":{'title': '臺大醫院機房起火'}
    		},

    		getEvent: function(s){
    			return this.eventData[s];
    		}
    	};
    });
    oortiApp.factory("user",function(events){
    	var recent = []; // fake data here
    	var pined = [];  // fake data here
    	var pinedEvents = [];
    	var recentEvents = [];
    	for(var i = 0; i < pined.length; i++){
    		pinedEvents.push(events.getEvent(pined[i]));
    	}
    	for(var i = 0; i < recent.length; i++){
    		recentEvents.push(events.getEvent(recent[i]));
    	}
    	return {
    		"recent": recent,
    		"pined": pined,
    		"pinedEvents": pinedEvents,
    		"recentEvents": recentEvents
    	};
    });
    oortiApp.factory("today",function(events){
    	var big = ["3","1","2"];			// fake data here
    	var newest = ["5","2"];		// fake data here
    	var recommend = ["3","2","4","1"];		// fake data here
    	var bigEvents = [];
    	var newestEvents = [];
    	var recommendEvents = [];
    	for(var i = 0; i < big.length; i++){
    		bigEvents.push(events.getEvent(big[i]));
    	}
       	for(var i = 0; i < newest.length; i++){
    		newestEvents.push(events.getEvent(newest[i]));
    	}
       	for(var i = 0; i < recommend.length; i++){
    		var a = events;
    		var b = events.getEvent("3");
    		recommendEvents.push(events.getEvent(recommend[i]));
    	}
    	var todayEventGroups = [{
			'title' : "熱門",
			'groupID' : 'big',
			'icon' : "comments-o",
			'events' : bigEvents,
			'cssClass' : 'big-event'
		},{
			'title' : "最新",
			'groupID' : 'newest',
			'icon' : "flash",
			'events' : newestEvents,
			'cssClass' : 'newest-event'
		},{
			'title' : "推薦",
			'groupID' : 'recommend',
			'icon' : "star",
			'events' : recommendEvents,
			'cssClass' : 'recommend-event'
		}];
    	return {
    		"big": big,
    		"newest": newest,
    		"recommend": recommend,
			"bigEvents": bigEvents,
    		"newestEvents": newestEvents,
    		"recommendEvents": recommendEvents,
    		"todayEventGroups": todayEventGroups
    	};
    });
	oortiApp.directive("eventViewer",function() {
		return {
			restrict: "A",
			template: "<div class='event'><div class='news-title'>{[{newsEvent.title}]}</div><i class='fa fa-shield icon-tag'></i></div>",
			//template: "<div>QQ</div>",
			link: function(scope, element, attr) {

			}
		};
	});
    oortiApp.directive("trendViewer", function() {
        return {
            restrict: "A",
            link: function(scope, element, attr) {
            	scope.d3Draw(element[0], fakeD3Data);
            	element[0].addEventListener( "resize", function(){
            		scope.d3Draw(element[0], fakeD3Data);
            		/*__how to redraw!!__*/
            	});
            }
        };
    });
    oortiApp.directive("groupTab",function(){
    	return {
    		restrict: "A",
    		link: function(scope, element, attr) {
    			element.on("click",function(e){
    				scope.eventGroupTab.ss = scope.eventGroup.groupID;
    				scope.$apply();
    			});
    		}
    	}
    });
    oortiApp.controller("eventCtrl",function($scope){
    	$scope.displaySetting = {};
    	$scope.displaySetting.show = false;
    	$scope.displaySetting.full = false;
    	$scope.$watch("displayMode.mode", function(nV, oV) {
    		if(nV == "general"){
    			$scope.displaySetting.show = false;
    			$scope.displaySetting.full = false;
    		}else if(nV == "event"){
    			$scope.displaySetting.show = false;
    			$scope.displaySetting.full = true;
    		}else{
    			$scope.displaySetting.show = true;
    			$scope.displaySetting.full = false;
    		}
    	});
    });
	oortiApp.controller("generalViewCtrl",function($scope, today, user) {
		$scope.displaySetting = {};
		// both, user, today
		$scope.displayMode.left = "both";
		$scope.displaySetting.userHided = false;
		$scope.displaySetting.todayHided = false;
		$scope.displaySetting.todayMin = false;
		$scope.displaySetting.generalMin = false;
		$scope.displaySetting.generalHided = false;
		$scope.showEvent = function(type){
			$scope.displayMode.left = type;
			$scope.displayMode.mode = "both";
		}
		$scope.showGeneralView = function(){
			$scope.displayMode.mode = "general";
			$scope.displayMode.left = "both";
		};
		$scope.changeHide = function(){
			if($scope.displayMode.mode == "both"){
				$scope.displayMode.mode = "event";
			}else if($scope.displayMode.mode == "event"){
				$scope.displayMode.mode = "both";
			}
		};
		$scope.changeGeneralView = function(){

			if($scope.displayMode.left == "user"){
				$scope.displayMode.left = "today";
			}else if($scope.displayMode.left == "today"){
				$scope.displayMode.left = "user";
			}
		}
		$scope.$watch("displayMode.left", function(nV, oV){
			if(nV == "both"){
				$scope.displaySetting.userHided = false;
				$scope.displaySetting.todayHided = false;
				$scope.displaySetting.todayMin = false;
			}else if(nV == "user"){
				$scope.displaySetting.userHided = false;
				$scope.displaySetting.todayHided = true;
				$scope.displaySetting.todayMin = true;
			}else{
				$scope.displaySetting.userHided = true;
				$scope.displaySetting.todayHided = false;
				$scope.displaySetting.todayMin = true;
			}
		});
		$scope.$watch("displayMode.mode", function(nV, oV) {
			if(nV == "general") {
				$scope.displaySetting.generalMin = false;
				$scope.displaySetting.generalHided = false;
			}else if (nV == "both"){
				$scope.displaySetting.generalMin = true;
				$scope.displaySetting.generalHided = false;
			}else{
				$scope.displaySetting.generalMin = false;
				$scope.displaySetting.generalHided = true;
			}
		});

		$scope.todayEventGroups = today.todayEventGroups;
		$scope.eventGroupTab = {};
		$scope.eventGroupTab.ss = "big";

		$scope.$watch("eventGroupTab.ss", function(nV, oV){
			console.log(nV);
		});

		$scope.d3Draw = function(element, data) {
            console.log(element);

            // width & height
            var margin = {t: 0, b: 40, l: 40, r:40}
            var fullWidth = element.offsetWidth;
            var fullHeight = element.offsetHeight;
            var width = fullWidth - margin.l - margin.r;
            var height = fullHeight - margin.t - margin.b;

	        // domain : x, y, color
	        var color = d3.scale.ordinal().range(["#97EC5B","#4ECB9C","#DBF95F","#00AB6A"]);
	        var x = d3.time.scale().range([0,width]);
	        var y = d3.scale.linear().range([height, 0]);

	        // Axies 
	        var xAxis = d3.svg.axis().scale(x).orient("bottom");
			//var	yAxis = d3.svg.axis().scale(y).orient("left");


			// area
			var area = d3.svg.area()
	            .interpolate("cardinal")
	            .x(function (d) { return x(d.label); })
	            .y0(function (d) { return y(d.y0 ); })
	            .y1(function (d) { return y(d.y0 + d.y ); });

	        // stack
	        var stack = d3.layout.stack()
	            //.offset("zero")
	            .offset("wiggle")
	            .values(function (d) { return d.values; })
	            .x(function (d) { return d.label; })
	            .y(function (d) { return d.value; });

	        // canvas
            var svg = d3.select(element).append("svg")
            	.attr("width", fullWidth)
            	.attr("height", fullHeight);
            var trend = svg.append("g")
            	.attr("width", width)
            	.attr("height", height)
            	.attr('transform', 'translate(' + margin.l + ', ' + (margin.t - 10) + ')'); // margin 10 between axis


            // domain
            color.domain(data.map(function(d){return d.name;}));
            x.domain([new Date(2015,3,0), new Date(2015,3,10)]);
            y.domain([0,20]);

            // draw stream
            stack(data);
	        var selection = trend.selectAll(".series")
	          .data(data)
	          .enter().append("g")
	          .attr("class", "series")
	          .append("path")
	          .attr("class", "streamPath")
	          .attr("d", function (d) {return area(d.values); })
	          .style("fill", function (d) { return color(d.name); })
	          //.style("stroke", "grey");

	        // draw axis
	        svg.append('g')
	        .attr('class', 'x axis')
	        .attr('transform', 'translate(' + margin.l + ', ' + (height+margin.t) + ')')
	        .call(xAxis);
		};

	});

    oortiApp.controller('oortiCtrl', function($scope) {
    	
    	$scope.displayMode = {};
    	// general, both, event
    	$scope.displayMode.mode = "general";



        $scope.focusedEvents = [{
            'title': '高麗菜價格大跌',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [3, 4, 5, 2, 3.4, 7]
        }, {
            'title': '亞洲投資銀行',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [4, 2, 7, 6, 5, 4, 12]
        }, {
            'title': '愚人節',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [4]
        }, {
            'title': '柯文哲',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [4, 3.3, 1, 3, 5, 5.5, 7, 2.5]
        }, {
            'title': '台北看守所囚犯自殺',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [4, 2, 7, 6, 5, 4, 12]
        }, {
            'title': '歐盟控告google壟斷',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [4]
        }, {
            'title': '台灣水庫缺水',
            'link': "/oorti_event_prototype.html",
            'viewHeight': [4, 3.3, 1, 3, 5, 5.5, 7, 2.5]
        }];

    });
    </script>
    <script src="/js/vendor/jquery.js"></script> 
<script src="/js/vendor/fastclick.js"></script>
<script src="/js/foundation.min.js"></script> 
<script>$(document).foundation();</script>

</body>

</html>
